  

<!DOCTYPE html>
<html>
<head>
----
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.net.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Parallax - 20</title>
    <title></title>
</head>
<body>
  <div id="container cont1" class="contain" id="maincontainer" >
  <nav id="sidenav" class="sidenavbar">
   
    <div id="sidenav-l1">

      <div id="filler">
        
      </div>
    </div>  
    <div id="sidenav-l2">
      <div style="top: 35px;left:35%;"  id="c1" class="mark4">
        
      </div>
       <div style="top: 125px;left: 41% " id="c2" class="mark4">
        
      </div>
       <div style="top: 213px;left: 41.5%" id="c3" class="mark4">
        
      </div>
       <div style="top: 305px;left: 40%" id="c4" class="mark4">
        
      </div>
       <div style="top: 400px;left: 34.5%" id="c5" class="mark4">
        
      </div>
    </div>
  </nav><div class="contain"> 
	  <nav class="sidenavi">
     <ul>
          <li><a id="a1" style="top: 60px;" href="#home">Home</a></li>
            <li><a id="a2"  style="top: 150px;" href="#tracks">Tracks</a></li>
          <li><a id="a3" style="top: 240px;" href="#schedule">Schedule</a></li>
          <li><a id="a4" style="top: 330px;" href="#sponsors">Sponsors</a></li>
          <li><a id="a5" style="top: 420px;" href="#faq">FAQ</a></li>
        </ul>
  </nav> 
	  </div>
   
      <div style="height: 100%;top:-120px;" id="bg-vanta" class="parallax">
        <div id="scene">
            <div data-depth="0.2">
                <div id="parallax-logo">
                    <img src="images/resources/parallax-logo.svg" class="move-right" alt="Parallax Logo">
                </div>
                <div id="home-text">
                    <div id="home-div">
                        <p id="home-p">Registration<br>Opening<br>Soon!!</p>
                    </div>
                </div>
            </div>
            <div id="tec-logo">
                <img src="images/resources/TEC Logo PNG.svg" alt="TEC Logo">
            </div>
        </div>
        <div id="bg-graphic">
            <img style="z-index:0;position:absolute;" src="images/resources/Path 8.png" alt="" margin-left="0px">
        </div>
    </div>
 <!--    <div class="sidenavi">
     <ul >
          <li><a  style="line-height: 200px;" href="#home">Home   <br></a></li>

            <li><a  style="line-height: 200px;margin-bottom: 300px;"href="#schedule">Schedule</a></li>
          <li style="line-height: 200px;"><a href="#tracks">Tracks</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
  </div> --> 

    <section id="home" style="margin-left: 10%;">        
    <div class="container" id="insidehome">
            <h1>HOME</h1>
            <hr>
        </div>
        <div class="container" id="home-content">
            <p class="content-1">
                Every new invention, innovation in the world arises from the looking at a problem from a unique perspective, recognising that one parallel to the problem went unnoticed. Everyday problems and technological enigmas which haunt the tech world today unravel with not just revolutionary thinking but at times with just a simple change of perspective. Parallax provides a very unique platform to unravel the innovative thinking to perceive the parallel.
            </p>
            <p>
                Parallax is a one of a kind event that not only engineers but the students,designers,hackers or anyone with basic knowledge and ability to think laterally, come together and deliver solutions for tackling challenges faced by renowned industries and the everyday joe.
            </p>
            <p>
                The event initiates with the various problem statements, which are given to every participant. Participants are required to find the best solution for the given challenges and come up with a working prototype that serves the purpose and all of this in just 36 hours. Solutions can vary from hardware to software depending on which suits your idea perfectly and are refined based on feedback from need-knowers. The event concludes by judging on the basis of the best and most viable solution to the given challenge. <b>Do you have what it takes to perceive every parallel?</b>
            </p>
        </div>
  </section>
    <section id="tracks" style="margin-top: -10%;margin-left: 10%;" class="tracks ">
            <div style="margin-bottom:-3%;" class="container" id="title">
                <h1 style="">TRACKS</h1>
                <hr>
            </div>
            <div  class="container" id="ind-tracks">
                <div  class="row">
                    <div class="col-lg-6 col-sm-12" id="track-1">
                        <img src="images/resources/disaster.png" alt="" id="dis-img">
                        <p>Disaster Management <br>& Recovery</p>
                        <p  class="p2" data-toggle="modal" data-target="#track12">learn more ></p>
                    </div>
                    <div class="col-lg-6 col-sm-12" id="track-2">
                        <img src="images/resources/agri.png" alt="" id="agri-img">
                        <p>Agriculture Development</p>
                        <p class="p2" data-toggle="modal" data-target="#track2" >learn more ></p>
                    </div>
                </div>
                <div  class="row ">
                    <div class="col-lg-6 col-sm-12" id="track-3">
                        <img src="images/resources/safety.png" alt="" id="safe-img">
                        <p>Safety & Security</p>
                        <p class="p2" data-toggle="modal" data-target="#track3">learn more ></p>
                    </div>
                    <div class="col-lg-6 col-sm-12" id="track-4">
                        <img src="images/resources/defense.png" alt="" id="def-img">
                        <p>Defense and War Tech</p>
                        <p class="p2" data-toggle="modal" data-target="#track4">learn more ></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 " id="track-5">
                        <img src="images/resources/health.png" alt="" id="health-img">
                        <p>Health Care</p>
                        <p class="p2" data-toggle="modal" data-target="#track5">learn more ></p>
                    </div>
                    <div class="col-lg-6 col-sm-12" id="track-6">
                        <img src="images/resources/industrial.png" alt="" id="indus-img">
                        <p>Industrial  Development</p>
                        <p class="p2" data-toggle="modal" data-target="#track6">learn more ></p>
                    </div>
                </div>
            </div>
        </section>






<!-- Modal -->
<div  class="modal fade" id="track12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Disaster Management & Recovery</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="track2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Agriculture Development</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="track3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Safety & Security</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="track4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Defense and War Tech</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="track5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Health Care</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>
<div  class="modal fade" id="track6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="background-color: #1c1c1c;" class="modal-content">
      <div class="modal-header">
        <h5 style="color: #f2f2f2;" class="modal-title" id="exampleModalCenterTitle">Industrial Development</h5>
      </div>
      <div style="color: #f2f2f2;" class="modal-body">
        fdsfsdfskldfksjfl loren kjijdsffdasgagdsfsdagsaga
        gasgasgadsgs
        gdasgasgasdg
        gasgdasgag
      </div>
      <div style="color: #f2f2f2;" class="modal-footer">
        <p  style="color:rgba(255,255,255,0.50);" data-dismiss="modal">< less</p>
      </div>
    </div>
  </div>
</div>


  <section id="schedule" style="margin-left:5%;margin-top:0%;margin-bottom:20%;" class="schedule">
            <div style="" class="container" id="title">
                <h1>SCHEDULE</h1>
                <hr>
	
			

           
               <div class="mark1">
				</div>
                 
                      <p class="stage1" >20th FEB, 2020  </p>
                        <p id="content"  >lorem ipfsf  fdsfsdfsdfsdf
                      fdsfsdfdsfsdfsdfsdf
                    fsdfsdfdsfsdfsdf fsdhfhsdlfsdjhfjsdhfjk
                    fsdhfkjsdhfkjsdfjksdhkjfhsdkjfhkjsd
                    fsdhfks fshkjfs sdfhkhfsd
                    fsdkjfhsdkjfh fshdhfk
                  fsdfsdfsdfsdfsf</p>
					<p class="stage4">21th FEB, 2020</p>
                    


                 <div class="path1">
                   </div>
                   <div class="mark2">
                  
                   </div>
                     <p class="stage2"></p>
			
                     <div class="path2">
                   </div>
                    <div class="mark3">
                      
                   </div>
                   <p class="stage3">22th FEB, 2020</p>
				</div> 
 </section>
         		



 <section id="sponsors" style="margin-top:10%;margin-left:10%;" class="sponsors">
            <div  class="container" id="spon">
                <h1>SPONSORS</h1>
                <hr>
            </div>
            <div style="margin-left: 10%;"  class="container" id="sponsors-post">
                <div style="margin:-3% auto;" class="row" id="sponsors-row1">
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;" class="sponser-icon" src="images/resources/comingsoon.png" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;"  class="sponser-icon" src="images/resources/comingsoon.png" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;" class="sponser-icon" src="images/resources/comingsoon.png" alt=""></div>
                </div>
                <div style="margin-left: 0%"  class="row" id="sponsors-row2">
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;" class="sponser-icon" src="images/resources/comingsoon.png" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;" class="sponser-icon" src="images/resources/comingsoon.png" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 210px;" class="sponser-icon" src="images/resources/comingsoon.png" alt="">
                    </div>
                </div>
                <p id="sponsor-text">If you would like to sponsor us please contact: <b>parallax.tec@vit.ac.in</b></p>

            </div>
        <!-- </div> -->
  </section>
<!--155 3 10 3  -->
<section id="faq"  style="margin-top:20%;margin-left:10%;" class="faq">
            <div  class="container" id="faq">
                          <h1>FAQ</h1>
                          <hr>
            </div>
            <div style="margin-left: 10%;" class="row">
                          <div class="col-lg-5">
                             

                                 <div>Question ?
                              lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                          fsfsdfdsf sfsdfsdfdsfdsf
                        fsdfsdfsdfsfsfsff</div>
                              <br>
                                 <div>Question ?
                              lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                          fsfsdfdsf sfsdfsdfdsfdsf
                        fsdfsdfsdfsfsfsff</div>
                        <br>
                                 <div>Question ?
                              lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                          fsfsdfdsf sfsdfsdfdsfdsf
                        fsdfsdfsdfsfsfsff</div>
                           <br>
                                 <div>Question ?
                              lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                          fsfsdfdsf sfsdfsdfdsfdsf
                        fsdfsdfsdfsfsfsff</div>
                           <br>

                          </div>
                    <div class="col-lg-5">
                      <div>Question ?
                        lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                    fsfsdfdsf sfsdfsdfdsfdsf
                  fsdfsdfsdfsfsfsff</div>
                         <br>
                <div>Question ?
                        lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                    fsfsdfdsf sfsdfsdfdsfdsf
                  fsdfsdfsdfsfsfsff</div>
                           <br>

                        <div>Question ?
                        lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                    fsfsdfdsf sfsdfsdfdsfdsf
                  fsdfsdfsdfsfsfsff</div>
                        <br>
                           <div>Question ?
                        lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                    fsfsdfdsf sfsdfsdfdsfdsf
                  fsdfsdfsdfsfsfsff</div>
                        <br>
                           <div>Question ?
                        lorenFSDFSDFDSFDSFfsdaf fsdf fds fds fdsf sfsdf sdf sdfsdf fs f fsfsdfsdfsdf
                    fsfsdfdsf sfsdfsdfdsfdsf
                  fsdfsdfsdfsfsfsff</div>
                        <br>
                    </div>
            </div>
          </section>
<section id="meet"  style="margin-top:0%;margin-left:10%;" class="meet">
            <div  class="container" id="meet">
                          <h1>Meet the Team</h1>
                          <hr>
            </div>
            <div style="margin-left: 10%;" class="row">
                          <div class="col-lg-3">
				</div>
				  <div class="col-lg-3">
					  
					  
				</div>
				  <div class="col-lg-3">
				</div>
				  <div class="col-lg-3">
				</div>
                             

            </div>
          </section>
	  <section>
	  <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="471" style="margin-top:200px;top:100px;background-color:#1c1c1c;" viewBox="0 0 1920 471">
  <g id="Group_26" data-name="Group 26" transform="translate(0 -7870)">
    <path id="Path_36" data-name="Path 36" d="M0,0,1920,95.614V471H0Z" transform="translate(0 7870)" fill="#aa1322"/>
	  <p style="z-index:1;top:-250px;margin-top:-360px;margin-left:-950px">
		  Designer rudra sekhar rao<br>
		   Designer rudra sekhar rao<br>
		   Designer rudra sekhar rao<br>
		   Designer rudra sekhar rao
	  </p>
	  <p style="z-index:1;top:-250px;margin-top:-90px;margin-left:1000px">
		  Creted by: The Electronics Club
	  </p>
	  
    <path id="Path_37" data-name="Path 37" d="M0,0H1920V97.331L0,20Z" transform="translate(0 7870)" fill="#1c1c1c;"/>
  </g>
</svg>
	  
	  
	  
	  </section>






</div>








<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="stylesheets/js/main.js"></script> 
	<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
        <script src="./js/three.r92.min.js"></script>
        <script src="./js/vanta.net.min.js"></script>
        <script>
            VANTA.NET({
                el: "#bg-vanta",
                color: 0x782020,
                backgroundColor: 0x90909
            })
        </script>
        <script src="./main.js"></script>
</body>
</html>









