html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1c1c1c;
	color: #f2f2f2;
}

#scene {
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
     ms-overflow-style: none;
    overflow: moz-scrollbars-none;
    font-family: 'Montserrat', sans-serif;
    background: #1b1b1bfd;
	overflow-y:scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.scroll-snapping {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
    display: none;
}

#bg-vanta {
    width: 100%;
    height: 100%;
    position: relative;

	box-shadow: inset 0 0 30rem 30rem #000;
}

#parallax-logo {
    position: absolute;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-end;
}

#tec-logo {
    position: relative;
    top:60px;
    margin: 0;
    display: flex;
    right: 0;
    width: 100%;
    justify-content: flex-end;
}

#tec-logo > img {
    position: absolute;
    right: 0;
}

#home-text {
    position: absolute;
    left: 50vw;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    line-height: 3rem;
}

#home-div {
    position: relative;
    top: -6%;
    border-left: 6px solid white;
    font-size: 1.8rem;
    height: 30vh;
    padding-left: 2%;
}

#home-p {
    position: relative;
    top: 30%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    scroll-snap-align: center;
}





























.sidenavi ul li a{
	text-decoration: none;
	color:white;
	margin-bottom: 20%;
	left:18px;
	padding-bottom: 100px;
	z-index: 2;
	position: fixed;
	margin-bottom: 100px;
		transform: translateY(5%);
	line-height: 190px;


}
#sidenav-l1 ul li a:hover{
	text-decoration: none;
	color: white;

}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1c1c1c;
	color: #f2f2f2;
}
#maincontainer{
	width:100%;
	height:100%;
	overflow-y:scroll;
	scroll-behavior:smooth;
	scroll-snap-type: y mandatory;
}
.sidenavbar ul{
	list-style: none;
	position: fixed;
	top:0;
} 
section {
	display:flex;
	flex-direction:column;
	width:100%;
	height:100vh;
	align-items:center;
	justify-content:center;
	scroll-snap-align: center;
	clear:both;
}
section h1{
	text-transform: uppercase;
}
#sidenav{
	height: 100%;
	width: 20%;
	z-index:1;
	overflow-y: hidden;
	animation-name: example;
  	animation-duration: 4s;
}

@keyframes example {
  from {width:  0;}
  to {width:  20%;}
}
#sidenav-l1{
	height: 110%;
	width: 200px;
	z-index:1;
	position: fixed;

	top: 100;
	left: -95px;
	background-color: #8a0f16;
	border-radius: 50%;
	transform: translateY(-5%);
	overflow: hidden;
}
#sidenav-l2{
	height: 110%;
	width: 200px;
    z-index:1;
	position: fixed;
	top: 100;
	left: -100px;
	background-color: #aa1322;
	border-radius: 50%;
	transform: translateY(-5%);
}
#sidenav-l2 .mark4{
  height: 32px;
  width: 32px;
 

  position: absolute;
  left: 40.1%;

  margin-left: 104px;
  margin-top: 130px;
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
#filler{
	position: fixed;
	top: 5%;
	background-color: white;
	/*height: 100px;*/
	width: 200px;
}
#cont1{
	
	position: absolute;
	top: 0%;
	left: 7%;
	width: 80%;
	

}
#home #insidehome hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -39%;
    padding-top:0;
    margin-top:1.2%;
}

.tracks #title h1{
    color: white;

    font-weight: 700;
    margin-top: 6%;
    font-size: 3rem;
}
.tracks #title hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -28%;
    padding-top:0;
    margin-top:1.2%;
}
.schedule #title h1{
    color: white;
    font-weight: 700;
    margin-top: 5%;
    font-size: 3rem;
}
.schedule #title hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -24%;
    padding-top:0;
    }
#dis-img{
    margin-top:8%;
    /* height:40% */
}
.tracks #ind-tracks #track-1 p{
    position: relative;
    top: -35%;
    left:38%;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
.tracks #ind-tracks #track-1 br{
    display: none;
}

#agri-img{
    margin-top:10.5%;
    position: relative;
    left:2%;
}
.tracks #ind-tracks #track-2 p{
    position: relative;
    top: -36%;
    left:41.5%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#safe-img{
    margin-top:5%;
}
.tracks #ind-tracks #track-3 p{
    position: relative;
    top: -33%;
    left:38%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#def-img{
    position:relative;
    right:6%;
    margin-top:7.3%;
    width:40%;
}
.tracks #ind-tracks #track-4 p{
    position: relative;
    top: -30%;
    left:42%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
}
#health-img{
    margin-top:7.5%;
}
.tracks #ind-tracks #track-5 p{
    position: relative;
    top: -33%;
    left:38%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#indus-img{
    margin-top:8.5%;
    height:52%;
    position:relative;
    left:-2.25%;
}
.tracks #ind-tracks #track-6 p{
    position: relative;
    top: -33%;
    left:42%;
    color: rgba(255,255,255,0.90);
    /* font-size: 17px; */
}



.tracks {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    scroll-snap-align: center;
}

.tracks #ind-tracks #track-1 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks .row {
			margin-bottom: -7%;
}

.tracks #ind-tracks{
	margin:0px 20% 0px 16%;
}

.tracks #ind-tracks #track-2 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-3 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-4 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-5 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-6 .p2 {
	color: rgba(255,255,255,0.60);
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
.schedule .container .path1{
  border-left: 6px solid crimson;
  height: 100px;
  position: absolute;
  left: 41%;
  margin-top: 171.1%;
  margin-left: -3px;
  top: 0;
}
.schedule .container .path2{
  border-left: 6px solid crimson;
  height: 100px;
  position: absolute;
  left: 41%;
  margin-top: 179.6%;
  margin-left: -3px;
  top: 0;
}
.schedule .container .mark1{
  height: 32px;
  width: 32px;
  background-color: white;
    position: absolute;
  left: 40.1%;
  margin-top: 169%;
  margin-left: -3px;
  top: 0;
 border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage1{
font-size: 1.3rem;
	font-weight: 500;
    position: absolute;
  left: 45%;
  margin-top: 168.8%;
  margin-left: -3px;
  top: 0;

  display: inline-block;
}
.schedule .container #content{
font-size: 1rem;
	
	width:500px;
    position: absolute;
  left: 45%;
  margin-top: 171%;
  margin-left: -3px;
  top: 0;

  display: inline-block;
}
.schedule .container .mark2{
  height: 32px;
  width: 32px;
    position: absolute;
	background-color: white;
  left: 40.1%;
  margin-top: 177.5%;
  margin-left: -3px;
  top: 0;
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage2{
font-size: 1.3rem;
	font-weight: 500;
    position: absolute;
  left: 26.6%;
  margin-top: 177.5%;
  margin-left: -3px;
  top: 0;

  display: inline-block;
}
.schedule .container .mark3{
  height: 32px;
  width: 32px;
    position: absolute;
	background-color: white;
  left: 40.1%;
  margin-top: 186%;
  margin-left: -3px;
  top: 0;
 border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage3{

	font-size: 1.3rem;
	font-weight: 500;

    position: absolute;
  left: 45%;
  margin-top: 186%;
  margin-left: -3px;
  top: 0;
 
  display: inline-block;
}


.sponsors #spon h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    z-index: 3;
}
.sponsors #spon hr{
    border-bottom: 11px solid crimson;
    width:17%;
    position: relative;
    left: -28%;
    padding-top:0;
    /* margin-top:1.2%; */
}
.sponsors #sponsors-post #sponsors-row1{
    padding-top:4.5%;
}
.sponsors #sponsors-post #sponsors-row2{
    padding-top:7%;
}
.sponsors #sponsors-post #sponsor-text{
    color: rgba(255,255,255,0.70);
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 4.5%;
}

.sponsors {
    height: 100vh;
    padding-top: 5%;
    scroll-snap-align: center;
}
.faq{
	margin-top: 10%;
}
.faq #faq h1{

    color: white;
    font-weight: 700;
    font-size: 3rem;
  
    z-index: 3;
}
.faq #faq hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -42%;
    padding-top:0;
    /* margin-top:1.2%; */
}
#bg-graphic {
    /* vertical-align: bottom;
    left: -2vw;*/
    position: relative;
    height: 100vh;
}

#bg-graphic > img {
    position: absolute;
    bottom: -5vh;
    left: -5vw;
    /* height: 100vh; */
}

@media only screen and (max-width: 600px){
    .sponsors #spon h1{
        position: relative;
        left: 10%;
    }
    .sponsors #spon hr{
        position: relative;
        border-bottom: 7px solid crimson;
        width:25%;
        left:20%;

    }
    .sponsors #sponsors-post img{
        padding-left:10%;
        padding-top: 15%;
        height: 40px;
    }
    .sponsors #sponsors-post #sponsor-text{
        font-size:1rem;
        padding-top:10%;
        text-align: center;
    }
}