html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y:hidden;
	background-color: #1c1c1c;
	color: #f2f2f2;
}

#scene {
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow:hidden;
    overflow: moz-scrollbars-none;
    font-family: 'Montserrat', sans-serif;
    background: #1b1b1bfd;
	overflow-y:hidden;

	line-height:1.6;
	

}

.scroll-snapping {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
    display: none;
}

#bg-vanta {
    width: 100%;
    height: 100%;
    position: relative;

	box-shadow: inset 0 0 30rem 30rem #000;
}

#parallax-logo {
    position: absolute;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-end;
}

#tec-logo {
    position: relative;
    top:60px;
    margin: 0;
    display: flex;
    right: 0;
    width: 100%;
    justify-content: flex-end;
}

#tec-logo > img {
    position: absolute;
    right: 0;
}

#home-text {
    position: absolute;
    left: 50vw;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    line-height: 3rem;
}

#home-div {
    position: relative;
    top: -6%;
    border-left: 6px solid white;
    font-size: 1.8rem;
    height: 30vh;
    padding-left: 2%;
}

#home-p {
    position: relative;
    top: 30%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: center;
}














 .sidenavi{
	
	position:fixed;

	z-index:7;
	display:flex;
	width:100%;
	height:60px;
	
	
}
.sidenavi ul{
	display: flex;
	list-style: none;
	width:100%;
	justify-content: center;
} 
.sidenavi ul li{
	margin: 0 1rem;
	padding: 0;
}
 









.sidenavi ul li a{
	text-decoration: none;
	color:white;
	margin-bottom: 20%;
	left:18px;
	padding-bottom: 100px;
	z-index: 7;
	position: fixed;
	margin-bottom: 100px;
		transform: translateY(5%);
	line-height: 190px;


}
/*tracks media queries*/
@media only screen and (max-width: 600px) {
    .tracks {
        height: 205vh;
        width: 100%;
        
    }

    .tracks #track-1 p, .tracks #track-2 p, .tracks #track-3 p, .tracks #track-4 p, .tracks #track-5 p, .tracks #track-6 p {
        font-size: 1.5rem;
    }

    .tracks #title h1 {
        position: relative;
        left: 10%;
    }

    .tracks #title hr {
        position: relative;
        border-bottom: 7px solid crimson;
        width: 25%;
        left: 5%;
    }

    #dis-img {
        padding-left: 3%;
        height: 50%;
    }

    #ind-tracks #track-1 p {
        font-size: 1rem;
        padding-left: 8%;
    }

    .tracks #ind-tracks #track-1 br {
        display: block;
    }

    #agri-img {
        padding-left: 3%;
        height: 52%;
    }

    #ind-tracks #track-2 p {
        font-size: 1rem;
        padding-left: 3%;
    }

    #safe-img {
        padding-left: 7%;
        height: 57%;
        padding-top: 5%;
    }

    #ind-tracks #track-3 p {
        font-size: 1rem;
        padding-left: 7%;
    }

    #def-img {
        width: 45%;
        padding-left: 10%;
    }

    #ind-tracks #track-4 p {
        font-size: 1rem;
        padding-left: 3%;
    }

    #health-img {
        height: 70%;
        padding-top: 20%;
        padding-left: 5%;
    }

    #scene {
        color: white;
    }


    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        font-family: 'Montserrat', sans-serif;
        background: #1b1b1bfd;
    }

    .scroll-snapping {
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y proximity;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    #bg-vanta {
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: inset 0 0 30rem 30rem #000;
    }

    #parallax-logo {
        position: absolute;
        margin: 0;
        display: flex;
        width: 50%;
        height: 100vh;
        justify-content: flex-end;
    }

    #tec-logo {
        position: relative;
        margin: 0;
        display: flex;
        right: 0;
        width: 100%;
        justify-content: flex-end;
    }

    #tec-logo>img {
        position: absolute;
        right: 0;
    }

    #home-text {
        position: absolute;
        left: 50vw;
        margin: 0;
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        line-height: 3rem;
    }

    #home-div {
        position: relative;
        top: -6%;
        border-left: 6px solid white;
        font-size: 1.8rem;
        height: 30vh;
        padding-left: 2%;
    }

    #home-p {
        position: relative;
        top: 30%;
    }

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-snap-align: center;
    }

    .tracks #title h1 {
        color: white;
		top:-140px;
        font-weight: 700;
        margin-top:-10%;
        font-size: 3rem;
    }

    .tracks #title hr {
        border-bottom: 11px solid crimson;
        width: 12%;
        position: relative;
        left: -32%;
        padding-top: 0;
        margin-top: 1.2%;
    }

    #dis-img {
        margin-top: 8%;
        /* height:40% */
    }

    .tracks #ind-tracks #track-1 p {
        position: relative;
        top: -35%;
        left: 38%;
        color: rgba(255, 255, 255, 0.70);
        /* font-size: 17px; */
    }

    .tracks #ind-tracks #track-1 br {
        display: none;
    }

    #agri-img {
        margin-top: 10.5%;
        position: relative;
        left: 2%;
    }

    .tracks #ind-tracks #track-2 p {
        position: relative;
        top: -36%;
        left: 41.5%;
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.70);
        /* font-size: 17px; */
    }

    #safe-img {
        margin-top: 5%;
    }

    .tracks #ind-tracks #track-3 p {
        position: relative;
        top: -33%;
        left: 38%;
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.70);
        /* font-size: 17px; */
    }

    #def-img {
        position: relative;
        right: 6%;
        margin-top: 7.3%;
        width: 40%;
    }

    .tracks #ind-tracks #track-4 p {
        position: relative;
        top: -30%;
        left: 42%;
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.70);
    }

    #health-img {
        margin-top: 7.5%;
    }

    .tracks #ind-tracks #track-5 p {
        position: relative;
        top: -33%;
        left: 38%;
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.70);
        /* font-size: 17px; */
    }

    #indus-img {
        margin-top: 10.5%;
        height: 52%;
        position: relative;
        left: -2.25%;
    }

    .tracks #ind-tracks #track-6 p {
        position: relative;
        top: -33%;
        left: 42%;
        color: rgba(255, 255, 255, 0.70);
        /* font-size: 17px; */
    }

    .tracks {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 2%;
        scroll-snap-align: center;
    }

    .home-page #home h1 {
        color: white;
        font-weight: 700;
        padding-top: 10%;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
    }

    .home-page #home hr {
        border-bottom: 11px solid crimson;
        width: 13%;
        position: relative;
        left: -35%;
        padding-top: 0;
        margin-top: 1.2%;
    }

    .home-page #home-content p {
        font-family: 'Montserrat', sans-serif;
        color: rgba(255, 255, 255, 0.70);
        text-align: justify;
    }

    .home-page #home-content .content-1 {
        padding-top: 4.5%;
    }

    .home-page {
        height: 100vh;
        scroll-snap-align: start;
        width: 100%;
        z-index: 3;
        /* margin: 5%;
        margin-bottom: 10%;
        position: relative;
        top: 5%; */
    }

    .sponsors #spon h1 {
        color: white;
        font-weight: 700;
        font-size: 3rem;
        z-index: 3;
    }

    .sponsors #spon hr {
        border-bottom: 11px solid crimson;
        width: 17%;
        position: relative;
        left: -28%;
        padding-top: 0;
        /* margin-top:1.2%; */
    }

    .sponsors #sponsors-post #sponsors-row1 {
        padding-top: 4.5%;
    }

    .sponsors #sponsors-post #sponsors-row2 {
        padding-top: 7%;
    }

    .sponsors #sponsors-post #sponsor-text {
        color: rgba(255, 255, 255, 0.70);
        font-size: 1.2rem;
        text-align: justify;
        padding-top: 4.5%;
    }

    .sponsors {
        height: 100vh;
        padding-top: 5%;
        scroll-snap-align: center;
    }

    #sidenav {
        height: 100%;
        width: 6vw !important;
        overflow-y: hidden;
        /* animation-name: example;
        animation-duration: 0.8s; */
        position: fixed;
        z-index: 2;
        transition: width ease-out 0.2s;
    }

    #sidenav-l1 {
        transition: width ease-out 0.2s;
        height: 110%;
        width: inherit;
        position: fixed;
        top: 0;
        left: -95px;
        background-color: #8a0f16;
        border-radius: 50%;
        transform: translateY(-5%);
        overflow: hidden;
    }

    #sidenav-l2 {
        height: 110%;
        transition: width ease-out 0.2s;
        width: inherit;
        position: fixed;
        top: 0;
        left: -100px;
        background-color: #aa1322;
        border-radius: 50%;
        transform: translateY(-5%);
    }

    #filler {
        position: fixed;
        top: 5%;
        background-color: white;
        /*height: 100px;*/
        width: inherit;
    }

    #container {
        float: left;
        position: absolute;
        top: 0%;
        left: 50%;
        width: 80%;
        margin: auto;
        transform: translateX(-50%);
    }

    #bg-graphic {
        /* vertical-align: bottom;
        left: -2vw; */
        position: relative;
        height: 100vh;
    }

    #bg-graphic>img {
        position: absolute;
        bottom: -2vh;
        left: -2vw;
        /* height: 100vh; */
    }

    @media only screen and (max-width: 600px) {
        #bg-graphic {
            display: none;
        }

        .home-page #home h1 {
            position: relative;
            left: 10%;
        }

        .home-page #home hr {
            position: relative;
            border-bottom: 7px solid crimson;
            width: 25%;
            left: 1%;
        }

        #home-text {
            display: none;
        }

        html {
            overflow-x: hidden;
        }

        #parallax-logo {
            width: 100vw;
            justify-content: center;
        }

        #tec-logo {
            position: relative;
            height: 100vh;
        }

        #tec-logo>img {
            position: absolute;
            bottom: 0;
            width: 30%;
        }
    }

    /*tracks media queries*/
    @media only screen and (max-width: 600px) {
        .tracks {
            height: 205vh;
            width: 100%;
            scroll-snap-align: start;
        }

        #track-1 > p, #track-2 > p, #track-3 > p, #track-4 > p, #track-5 > p, #track-6 > p {
            font-size: 1.5rem;
        }
        
        .tracks #title h1 {
            position: relative;
            left: 10%;
        }

        .tracks #title hr {
            position: relative;
            border-bottom: 7px solid crimson;
            width: 25%;
            left: 5%;
        }

        #dis-img {
            padding-left: 3%;
            height: 50%;
        }

        #ind-tracks #track-1 p {
            /* font-size: 1rem; */
            padding-left: 8%;
        }

        .tracks #ind-tracks #track-1 br {
            display: block;
        }

        #agri-img {
            padding-left: 3%;
            height: 52%;
        }

        #ind-tracks #track-2 p {
            /* font-size: 1rem; */
            padding-left: 3%;
        }

        #safe-img {
            padding-left: 7%;
            height: 57%;
            padding-top: 5%;
        }

        #ind-tracks #track-3 p {
            /* font-size: 1rem; */
            padding-left: 7%;
        }

        #def-img {
            width: 45%;
            padding-left: 10%;
        }

        #ind-tracks #track-4 p {
            /* font-size: 1rem; */
            padding-left: 3%;
        }

        #health-img {
            height: 70%;
            padding-top: 20%;
            padding-left: 5%;
        }

        #ind-tracks #track-5 p {
            /* font-size: 1rem; */
            padding-left: 9%;
        }

        #indus-img {
            width: 40%;
            padding-top: 7%;
            height: 65%;
            width: 40%;
            padding-left: 9%;
        }

        #ind-tracks #track-6 p {
            /* font-size: 1rem; */
            padding-left: 3%;
        }
    }

    /*Sponsors media queries*/
    @media only screen and (max-width: 600px) {
        .sponsors #spon h1 {
            position: relative;
            left: 10%;
        }

        .sponsors #spon hr {
            position: relative;
            border-bottom: 7px solid crimson;
            width: 25%;
            left: 20%;

        }

        .sponsors #sponsors-post img {
            padding-left: 10%;
            padding-top: 15%;
        }

        .sponsors #sponsors-post #sponsor-text {
            font-size: 1rem;
            padding-top: 10%;
            text-align: center;
        }
    }

    #ind-tracks #track-5 p {
        font-size: 1rem;
        padding-left: 9%;
    }

    #indus-img {
        width: 40%;
        padding-top: 7%;
        height: 65%;
        width: 40%;
        padding-left: 9%;
    }

    #ind-tracks #track-6 p {
        font-size: 1rem;
        padding-left: 3%;
    }
}

/*Sponsors media queries*/
@media only screen and (max-width: 600px) {
	.sponsors{
	top:400px;
	}
    .sponsors #spon h1 {
		top:300px;
		margin-top:10%;
        position: relative;
        left: 10%;
    }

    .sponsors #spon hr {
		top:300px;
        position: relative;
        border-bottom: 7px solid crimson;
        width: 25%;
        left: 20%;

    }

    .sponsors #sponsors-post img {
		top:300px;
        padding-left: 10%;
        padding-top: 15%;
    }

    .sponsors #sponsors-post #sponsor-text {
		top:300px;
        font-size: 1rem;
        padding-top: 10%;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {

    .home-page #home {
        height: 35%;
    }

    .home-page #home-content {
        height: 65%;
    }

    .home-page #home-content .content-1 span {
        /* font-family: 'Ma Shan Zheng', cursive; */
        font-size: 2.5rem;
        font-weight: 700;
        /* letter-spacing: 0.2rem; */
        /* color: crimson; */
    }
}
.scroll-snapping {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}
#sidenav-l1 ul li a:hover{
	text-decoration: none;
	color: white;

}
.contain{
	width: 100%;
	height: 100%;
	top:-40px;
	overflow:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	
}

/* #maincontainer{
	width:100%;
	height:100%;
	overflow-y:scroll;
	scroll-behavior:smooth;
	scroll-snap-type: y mandatory;
} */
.sidenavbar ul{
	list-style: none;
	position: fixed;
	top:0;
} 
section {
	display:flex;
	flex-direction:column;
	width:100%;
	height:100vh;
	align-items:center;
	justify-content:center;
	scroll-snap-align: center;
	clear:both;
}
section h1{
	text-transform: uppercase;
}
#sidenav{
	height: 100%;
	width: 20%;
	z-index:4;
	overflow-y: hidden;
	animation-name: example;
  	animation-duration: 4s;
}

@keyframes example {
  from {width:  0;}
  to {width:  20%;}
}
#sidenav-l1{
	height: 110%;
	width: 200px;
	z-index:4;
	position: fixed;

	top: 100;
	left: -95px;
	background-color: #8a0f16;
	border-radius: 50%;
	transform: translateY(-5%);
	overflow: hidden;
}
#sidenav-l2{
	height: 110%;
	width: 200px;
    z-index:4;
	position: fixed;
	top: 100;
	left: -100px;
	background-color: #aa1322;
	border-radius: 50%;
	transform: translateY(-5%);
}
#sidenav-l2 .mark4{
  height: 32px;
  width: 32px;
 
  position: absolute;
  left: 40.1%;

  margin-left: 104px;
  margin-top: 130px;
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
#filler{
	position: fixed;
	top: 5%;
	background-color: white;
	/*height: 100px;*/
	width: 200px;
}
#cont1{
	
	position: absolute;
	top: 0%;
	left: 7%;
	width: 80%;
	

}
#home #insidehome hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -39%;
    padding-top:0;
    margin-top:1.2%;
}

.tracks #title h1{
    color: white;

    font-weight: 700;
    margin-top: 6%;
    font-size: 3rem;
}
.tracks #title hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -28%;
    padding-top:0;
    margin-top:1.2%;
}
.schedule #title h1{
    color: white;
    font-weight: 700;
    margin-top: 5%;
    font-size: 3rem;
}

.schedule #title hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -24%;
    padding-top:0;
    }
#dis-img{
    margin-top:8%;
    /* height:40% */
}
.tracks #ind-tracks #track-1 p{
    position: relative;
    top: -35%;
    left:38%;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
.tracks #ind-tracks #track-1 br{
    display: none;
}

#agri-img{
    margin-top:10.5%;
    position: relative;
    left:2%;
}
.tracks #ind-tracks #track-2 p{
    position: relative;
    top: -36%;
    left:41.5%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#safe-img{
    margin-top:5%;
}
.tracks #ind-tracks #track-3 p{
    position: relative;
    top: -33%;
    left:38%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#def-img{
    position:relative;
    right:6%;
    margin-top:7.3%;
    width:40%;
}
.tracks #ind-tracks #track-4 p{
    position: relative;
    top: -30%;
    left:42%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
}
#health-img{
    margin-top:7.5%;
}
.tracks #ind-tracks #track-5 p{
    position: relative;
    top: -33%;
    left:38%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.95);
    /* font-size: 17px; */
}
#indus-img{
    margin-top:8.5%;
    height:52%;
    position:relative;
    left:-2.25%;
}
.tracks #ind-tracks #track-6 p{
    position: relative;
    top: -33%;
    left:42%;
    color: rgba(255,255,255,0.90);
    /* font-size: 17px; */
}



.tracks {
    height: 100vh;
    width: 100%;

    padding: 0;
    padding-top: 2%;
    scroll-snap-align: center;
}

.tracks #ind-tracks #track-1 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks .row {
			margin-bottom: -7%;
}

.tracks #ind-tracks{
	margin:0px 20% 0px 16%;
}

.tracks #ind-tracks #track-2 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-3 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-4 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-5 .p2 {
	color: rgba(255,255,255,0.60);
}
.tracks #ind-tracks #track-6 .p2 {
	color: rgba(255,255,255,0.60);
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
 }
/*.schedule .container1 .path1{
  border-left: 6px solid crimson;
  height: 100px;

  left: 500px;
  margin-top: 650px;
  margin-left: 280px;
  top: 200;
}
.schedule .container1 .path2{
  border-left: 6px solid crimson;
  height: 100px;

  left: 800px;
  margin-top: -310px;

  margin-left: 180px;
  top: -10px;
}
.schedule .container1 .mark1{
  height: 32px;
  width: 32px;
  background-color: white;
   margin-top: 400px;
	margin-bottom:-200px;

  top: 350px;
 left:500px;
margin-left:400px;
position:relative;

 border: 6px solid crimson;
  border-radius: 50%;

	
  display: inline-block;
}
.schedule .container1 .stage1{
font-size: 1.3rem;
	font-weight: 500;
  

  margin-top: 400px;
	margin-bottom:-200px;

  top: 350px;
	
  display: inline-block;
}
.schedule .container1 #content{
font-size: 1rem;
	
	width:500px;
  
  left: 200px;
  margin-top: 200px;
  margin-left: 0px;
  top: 100;

  display: inline-block;
}
.schedule .container1 .mark2{
  height: 32px;
  width: 32px;
position:relative;
  left: -11.8px;
	top:-258px;
margin-top:-1000px;
  margin-left: 180px;
 
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage2{
font-size: 1.3rem;
	font-weight: 500;

  left: 26.6%;
  margin-top: 24.5%;
  margin-left: -3px;


  display: inline-block;
}
.schedule .container1 .mark3{
  height: 32px;
  width: 32px; */
/* position:relative;
  left: 107px;
	top:-255px;
margin-top:-500px;
  margin-left: 60px;
 
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage3{

	font-size: 1.3rem;
	font-weight: 500;


  left: 45%;
  margin-top: 25%;
  margin-left: -3px;

  display: inline-block;
} */ 

.schedule .container .path1{
  border-left: 6px solid crimson;
  height: 120px;
	
  left: 620px;
  margin-top: 85px;

  margin-left: 180px;
  top: 10px;
}
.schedule .container .path2{
  border-left: 6px solid crimson;
  height: 120px;

  left: 560px;
  margin-top: -275px;

  margin-left: 180px;
  top: 480px;
}
.schedule .container .mark1{
  height: 32px;
  width: 32px;
position:relative;
  left: 66.8px;
	top:155px;
margin-top:-1000px;
  margin-left: 100px;
 
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage1{
font-size: 1.3rem;
	font-weight: 500;
 position:relative;
  left: 66.8px;
	top:135px;
margin-top:-1000px;
  margin-left: 80px;
 
  display: inline-block;
}
.schedule .container #content{
font-size: 1rem;
	
	width:500px;
  
  position:relative;
  left: -130.8px;
	top:225px;
margin-top:-800px;
  margin-left: 40px;
 

  display: inline-block;
}
.schedule .container .mark2{
  height: 32px;
  width: 32px;
position:relative;
  left: 8.8px;
	top:-263px;
margin-top:-1000px;
  margin-left: 158px;
 
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
p .stage4{

 left: 26.6%;
  margin-top: 24.5%;
  margin-left: -3px;


} 
.schedule .container .stage2{
font-size: 1.3rem;
	font-weight: 500;

  left: 26.6%;
  margin-top: 24.5%;
  margin-left: -3px;
top:-40%;

  display: inline-block;
}
.schedule .container .stage4{
font-size: 1.3rem;
	font-weight: 500;
position:relative;
  left: -82.8px;
	top:255px;
margin-top:-1000px;
  margin-left: 80px;

  display: inline-block;
}
.schedule .container .mark3{
  height: 32px;
  width: 32px;
position:relative;
  left: 115px;
	top:7px;
margin-top:-500px;
  margin-left: 54px;
 
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage3{

	font-size: 1.3rem;
	font-weight: 500;

position:relative;
  left: 145px;
	top:10px;
margin-top:-500px;
  margin-left: 54px;

  display: inline-block;
}

/* .schedule .container .path1{
  border-left: 6px solid crimson;
 position: relative;
	  left: -24%;
    padding-top:0;
	-webkit-transform:rotate(90deg)

}
.schedule .container .path2{
  border-left: 6px solid crimson;
  height: 100px;
  position: absolute;
  left: 41%;
  margin-top: 179.6%;
  margin-left: -3px;
  top: 0;
}
.schedule .container .mark1{
  height: 32px;
  width: 32px;
  background-color: white;
    position: absolute;
  left: 40.1%;
  margin-top: 169%;
  margin-left: -3px;
  top: 10%;
 border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage1{
font-size: 1.3rem;
	font-weight: 500;
    position: absolute;
  left: 45%;
  margin-top: 168.8%;
  margin-left: -3px;
  top: 10%;

  display: inline-block;
}
.schedule .container #

{
font-size: 1rem;
	
	width:500px;
    position: absolute;
  left: 45%;
  margin-top: 171%;
  margin-left: -3px;
  top: 0;

  display: inline-block;
}
.schedule .container .mark2{
  height: 32px;
  width: 32px;
    position: relative;
	background-color: white;
  left: 40.1%;
  margin-top: 177.5%;
  margin-left: -3px;
  top: 0;
  border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage2{
font-size: 1.3rem;
	font-weight: 500;
    position: relative;
  left: 26.6%;
  margin-top: 77.5%;
  margin-left: -3px;
  top: 0;

  display: inline-block;
}
.schedule .container .mark3{
  height: 32px;
  width: 32px;
    position: relative;
	background-color: white;
  left: 40.1%;
  margin-top: 86%;
  margin-left: -3px;
  top: 0;
 border: 6px solid crimson;
  border-radius: 50%;
  display: inline-block;
}
.schedule .container .stage3{

	font-size: 1.3rem;
	font-weight: 500;

    position: relative;
  left: 45%;
  margin-top: 26%;
  margin-left: -3px;
  top: 0;
 
  display: inline-block;
}
  */

.sponsors #spon h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    z-index: 3;
}
.sponsors #spon hr{
    border-bottom: 11px solid crimson;
    width:17%;
    position: relative;
    left: -28%;
    padding-top:0;
    /* margin-top:1.2%; */
}
.sponsors #sponsors-post #sponsors-row1{
    padding-top:4.5%;
}
.sponsors #sponsors-post #sponsors-row2{
    padding-top:7%;
}
.sponsors #sponsors-post #sponsor-text{
    color: rgba(255,255,255,0.70);
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 4.5%;
}

.sponsors {
    height: 100vh;
    padding-top: 5%;
    scroll-snap-align: center;
}
.faq{
	margin-top: 10%;
}
.faq #faq h1{

    color: white;
    font-weight: 700;
    font-size: 3rem;
  
    z-index: 3;
}
.faq #faq hr{
    border-bottom: 11px solid crimson;
    width:12%;
    position: relative;
    left: -42%;
    padding-top:0;
    /* margin-top:1.2%; */
}
.meet{
	margin-top: 0%;
}
.meet #meet h1{

    color: white;
    font-weight: 700;
    font-size: 3rem;
  
    z-index: 3;
}
.meet #meet hr{
    border-bottom: 11px solid crimson;
    width:17%;
    position: relative;
    left: -42%;
    padding-top:0;
    /* margin-top:1.2%; */
}
#bg-graphic {
    /* vertical-align: bottom;
    left: -2vw;*/
    position: relative;
    height: 100vh;
}

#bg-graphic > img {
    position: absolute;
    bottom: -5vh;
    left: -5vw;
    /* height: 100vh; */
}

@media only screen and (max-width: 600px){
    .sponsors #spon h1{
        position: relative;
        left: 10%;
    }
    .sponsors #spon hr{
        position: relative;
        border-bottom: 7px solid crimson;
        width:25%;
        left:20%;

    }
    .sponsors #sponsors-post img{
        padding-left:10%;
        padding-top: 15%;
        height: 40px;
    }
    .sponsors #sponsors-post #sponsor-text{
        font-size:1rem;
        padding-top:10%;
        text-align: center;
    }
}
@media only screen and (max-width: 600px){
    .sponsors #spon h1{
        position: relative;
        left: 10%;
    }
    .sponsors #spon hr{
        position: relative;
        border-bottom: 7px solid crimson;
        width:25%;
        left:20%;

    }
    .sponsors #sponsors-post img{
        padding-left:10%;
        padding-top: 15%;
        height: 40px;
    }
    .sponsors #sponsors-post #sponsor-text{
        font-size:1rem;
        padding-top:10%;
        text-align: center;
    }
}
.active{
	background:white;
}